.container {
  padding: 0.4rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: var(--GRAY-OPACITY-4);
  }
}
