$PRIMARY: #4f75fe;
$LIGHT: #ffffff;
$DARK: #000000;
$LIGHT-GRAY-1: #cccccc;
$LIGHT-GRAY-2: #eeeeee;
$DARK-GRAY-1: #313131;
$DARK-GRAY-2: #212121;
$DARK-GRAY-3: #797676;
$GRAY-OPACITY-9: rgba(204, 204, 204, 0.9);
$GRAY-OPACITY-8: rgba(204, 204, 204, 0.8);
$GRAY-OPACITY-7: rgba(204, 204, 204, 0.7);
$GRAY-OPACITY-6: rgba(204, 204, 204, 0.6);
$GRAY-OPACITY-5: rgba(204, 204, 204, 0.5);
$GRAY-OPACITY-4: rgba(204, 204, 204, 0.4);
$GRAY-OPACITY-3: rgba(204, 204, 204, 0.3);
$GRAY-OPACITY-2: rgba(204, 204, 204, 0.2);
$GRAY-OPACITY-1: rgba(204, 204, 204, 0.1);
$PRIMARY-OPACITY-9: rgba(79, 117, 254, 0.9);
$PRIMARY-OPACITY-8: rgba(79, 117, 254, 0.8);
$PRIMARY-OPACITY-7: rgba(79, 117, 254, 0.7);
$PRIMARY-OPACITY-6: rgba(79, 117, 254, 0.6);
$PRIMARY-OPACITY-5: rgba(79, 117, 254, 0.5);
$PRIMARY-OPACITY-4: rgba(79, 117, 254, 0.4);
$PRIMARY-OPACITY-3: rgba(79, 117, 254, 0.3);
$PRIMARY-OPACITY-2: rgba(79, 117, 254, 0.2);
$PRIMARY-OPACITY-1: rgba(79, 117, 254, 0.1);

:export {
  $PRIMARY: $PRIMARY;
  $LIGHT: $LIGHT;
  $DARK: $DARK;
  $LIGHT-GRAY-1: $LIGHT-GRAY-1;
  $LIGHT-GRAY-2: $LIGHT-GRAY-2;
  $DARK-GRAY-1: $DARK-GRAY-1;
  $DARK-GRAY-2: $DARK-GRAY-2;
  $DARK-GRAY-3: $DARK-GRAY-3;
  $GRAY-OPACITY-1: $GRAY-OPACITY-1;
  $GRAY-OPACITY-2: $GRAY-OPACITY-2;
  $GRAY-OPACITY-3: $GRAY-OPACITY-3;
  $GRAY-OPACITY-4: $GRAY-OPACITY-4;
  $GRAY-OPACITY-5: $GRAY-OPACITY-5;
  $GRAY-OPACITY-6: $GRAY-OPACITY-6;
  $GRAY-OPACITY-7: $GRAY-OPACITY-7;
  $GRAY-OPACITY-8: $GRAY-OPACITY-8;
  $GRAY-OPACITY-9: $GRAY-OPACITY-9;
  $PRIMARY-OPACITY-9: $PRIMARY-OPACITY-9;
  $PRIMARY-OPACITY-8: $PRIMARY-OPACITY-8;
  $PRIMARY-OPACITY-7: $PRIMARY-OPACITY-7;
  $PRIMARY-OPACITY-6: $PRIMARY-OPACITY-6;
  $PRIMARY-OPACITY-5: $PRIMARY-OPACITY-5;
  $PRIMARY-OPACITY-4: $PRIMARY-OPACITY-4;
  $PRIMARY-OPACITY-3: $PRIMARY-OPACITY-3;
  $PRIMARY-OPACITY-2: $PRIMARY-OPACITY-2;
  $PRIMARY-OPACITY-1: $PRIMARY-OPACITY-1;
}
