$PRIMARY: #4F75FE;
$LIGHT: #FFFFFF;
$DARK: #000000;
$LIGHT-GRAY-1: #cccccc;
$LIGHT-GRAY-2: #eeeeee;
$DARK-GRAY-1: #313131;
$DARK-GRAY-2: #212121;

:export {
  $PRIMARY: $PRIMARY;
  $LIGHT: $LIGHT;
  $DARK: $DARK;
  $LIGHT-GRAY-1: $LIGHT-GRAY-1;
  $LIGHT-GRAY-2: $LIGHT-GRAY-2;
  $DARK-GRAY-1: $DARK-GRAY-1;
  $DARK-GRAY-2: $DARK-GRAY-2;
}