.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  min-width: 60rem;
  min-height: 48rem;
  max-width: 120rem;
  max-height: 96rem;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  background-color: var(--LIGHT);
  overflow: hidden;
  padding: 2rem;
}
