.container-fill {
  width: 100%;
  min-width: 27.5rem;
  height: 3.65rem;
  position: relative;
  border-radius: 4px;
  border: 2px solid var(--PRIMARY);
  background-color: var(--PRIMARY);
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    color: var(--PRIMARY);
    cursor: pointer;
  }

  &:active {
    background-color: #ffffff;
    color: var(--PRIMARY);
  }
}

.container-outline {
  width: 100%;
  min-width: 27.5rem;
  height: 3.65rem;
  position: relative;
  border-radius: 4px;
  border: 2px solid var(--PRIMARY);
  background-color: var(--LIGHT);
  color: var(--PRIMARY);

  &:hover {
    background-color: var(--PRIMARY);
    color: var(--LIGHT);
    cursor: pointer;
  }

  &:active {
    background-color: #ffffff;
    color: var(--PRIMARY);
  }
}

.container-shadow {
  width: 100%;
  min-width: 27.5rem;
  height: 3.65rem;
  position: relative;
  border-radius: 4px;
  color: var(--DARK-GRAY-2);
  border: none;
  background-color: var(--GRAY-OPACITY-2);
  box-shadow: 0px 3px 3px 1px var(--GRAY-OPACITY-9);

  &:hover {
    background-color: var(--GRAY-OPACITY-5);
    color: var(--DARK-GRAY-2);
    cursor: pointer;
  }

  &:active {
    background-color: #ffffff;
    color: var(--PRIMARY);
  }
}
