.container {
  width: 27.5rem;
  height: 3.65rem;
  position: relative;
  border-radius: 4px;
  border: 2px solid var(--PRIMARY);
  background-color: var(--PRIMARY);
  color: #FFFFFF;

  &:hover {
    background-color: #FFFFFF;
    color: var(--PRIMARY);
    cursor: pointer;
  }

  &:active {
    background-color: #FFFFFF;
    color: var(--PRIMARY);
  }
}